<!DOCTYPE html>
<html>

	<head>
   {% include "parts/headContent.html" %}
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>FoObs Clusters Result Stats</title>
	</head>

	<body onload="checkForNoResultKeywords('{{check}}');">
  	{% include "parts/menu.html" %}

    <div class="container" id="mainContainer">
    
      <div class="col-sm-12" id="whitie">
      <div class="resHeader col-sm-12"><h3>Result statistics</h3></div>
      <div class="col-sm-12 paramsDataBox" >
        <h4>Dataset Parameters</h4>
        <div class="col-sm-6">
          <p><strong>Date from: </strong> {{listOfResultParameters[0]}}</p>
          <p><strong>Date to: </strong> {{listOfResultParameters[1]}}</p> 
          <p><strong>Keyword contraints: </strong>{{listOfResultParameters[4]}}</p>
        </div>
        <div class="col-sm-6">
          <p><strong>Discourse: </strong> {{listOfResultParameters[2]}}</p>
          <p><strong>Location: </strong>{{listOfResultParameters[3]}}</p>
        </div>
      </div>
      <div class="center-block col-sm-6">
        <h4>Cluster counts</h4>
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Cluster words</th>
            <th>Number of tweets</th>
            <th>Details</th>
          </thead>
          <tbody>
          {% for cluster in countsList %}
            <tr>
                <td>{{cluster[2]}}</td>
                <td>{{cluster[1]}}</td>
                <td>
                  <form action="/generateClusters">
                  <input type="hidden" name="keyword" value="{{cluster[0]}}">
                  <button class="btn btn-success btn-md" type="submit" >
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </form>
                </td></tr>
          {% endfor %} 
          </tbody>
        </table>
      </div> 
      <div class="col-sm-6">
        <h4>Keywords that returned no results</h4>
        <div id="keywordInfo">
          {% for keyword in keywordsWithNoResults %}
            <div class='noResult col-sm-4 addSpace'>{{keyword}}</div>
          {% endfor %}
        </div>  
      </div>
      </div>
    </div>

    <script src='/static/js/bootstrap.min.js'></script>
    <script src = "/static/js/scripts.js"></script> 
  </body>
</html>    