<!DOCTYPE html>
<html>
<head>
    {% include "parts/headContent.html" %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = "/static/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <title>FoObs Donut Graph</title>
  </head>

  <body onload = "createDonuts('{{clustersList}}')">
    {% include "parts/menu.html" %}  
    <div class="container" id="mainContainer">
    
    <div class="col-sm-12" id="whitie">
    <input type="hidden" name="tweetsList" id="tweetsList" value="{{tweetsOfClusters}}">
      <h3>Donuts</h3>
      <div class="col-sm-12">
        <div id="nameOfGroup"></div>
        <div id="pies">
         <div id="legend" class="donut-legend"></div> 
        </div>
        <div id="tweets">
            <h3>Tweets</h3>
            {% for tweet in tweetsOfClustersList %}
              {% include "parts/tweet.html" %}     
            {% endfor %}
        </div>   
      </div>
    </div>
    </div>
    <script src = "/static/js/scripts.js"></script>
  </body>
</html>    