<!DOCTYPE html>
<html>

	<head>
		{% include "parts/headContent.html" %}
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<title>FoObs Clusters Form</title>
	</head>

	<body onload="showKeywordGroups('{{keywordGroups}}', '{{task}}')">
	{% include "parts/menu.html" %} 

    <div class="container" id="mainContainer">
    
    <div class="col-sm-12" id="whitie">
    	<input type="hidden" name="check" id="check" value=""/>
		<div class="headers col-sm-12">
			<div class="col-sm-6" id="eitherOrHeader"> <h3>Keywords for clusters</h3></div>				
			<div id="timeframeHeader" class="col-sm-6"> <h3>Keywords for cluster segments</h3> </div>
		</div>
			    
		<div class="col-sm-12">
			<div id="clusters" class="col-sm-6">
				<div id="errorClusterArea"></div>
				<div class="funkyradio col-sm-12">
					<div class="funkyradio-success">
						<div class="col-sm-10">
						    <input type="radio" name="clusterOption" id="clusterFromSearch" onclick="hideOtherContent('searchWords'); setKeywordsToCluster('{{keywords[0]}}')" />
						    <label for="clusterFromSearch">Use the search keywords</label>
						</div>
						<div class="col-sm-2 showButton">
						    <button type="button" class="btn btn-warning btn-xs" onclick="toggleKeywordContent('searchKeywords');">Show keywords</button>
						</div>            
						<div id="searchKeywords" class="col-sm-10" style="display: none;"><p>{{keywords[0]}}</p></div>
					</div>
					<div class="funkyradio-success" id="keywordGroups">
						<div class="col-sm-10">
							<input type="radio" name="clusterOption" id="clusterFromKGroups" onclick="hideOtherContent('keywordGroups'); setKeywordsToCluster('{{keywordGroups}}')"/>
							<label for="clusterFromKGroups">Use the keyword groups</label>
						</div>  
						<div class="col-sm-2 showButton">
						    <button type="button" class="btn btn-warning btn-xs" onclick="toggleKeywordContent('showkeywordGroup');">Show keywords</button>
						</div>
						<div class="col-sm-10" id="showkeywordGroup" style="display: none;"></div>  
					</div>
					<div class="funkyradio-success">
						<div class="col-sm-10">
						    <input type="radio" name="clusterOption" id="clusterFromOwnWords" onclick="showAddKeywordButton('addOwnWordsClusters', 'Add keywords','groupCluster'); hideOtherContent('ownWords')" />
						    <label for="clusterFromOwnWords">Define keywords manually</label>
						</div>
						<div class="col-sm-12" id="addOwnWordsClusters"></div>
					</div>
					
				</div>
				<div class='enrichCheckBox col-sm-6' id='enrichCheckBox'></div>
				<div class='numberOfEnrichments col-sm-6' id='numberOfEnrichments'></div> 
				<div class="col-sm-12" id="fileInputOption">
						<div id="orDiv"><h4>OR</h4></div>
							<input type="file" name="clusterOption" id="fileOption" value="" accept=".txt" onchange='readText(this)'>
							<h2><label for="fileOption"><span class="label label-warning">Upload keyword file</span></label></h2>
							<div id="fileInputKeyWords"></div>
					</div>   
			</div>

			<div id="segments" class="col-sm-6">
				<div id="errorSegmentArea"></div>
					<div class="funkyradio col-sm-12">
						<div class="funkyradio-success">
						    <div class="col-sm-10">
						        <input type="radio" name="segmentOption" id="segmentFromSearch" onclick="setKeywordsForSegment('{{keywords[0]}}')" />
						        <label for="segmentFromSearch">Use the search keywords</label>
						    </div>
						</div>
						<div class="funkyradio-success" id="keywordGroups">
							<div class="col-sm-12">
							    <input type="radio" name="segmentOption" id="segmentFromKGroups" onclick="setKeywordsForSegment('{{keywordGroups}}')"/>
							    <label for="segmentFromKGroups">Use the keyword groups</label>
							</div>  
						</div>
						<div class="funkyradio-success">
						   <div class="col-sm-10">
						        <input type="radio" name="segmentOption" id="segmentFromOwnWords" onclick="showAddKeywordButton('addOwnWordsSegments','Add keywords', 'groupSegment');" />
						        <label for="segmentFromOwnWords">Define keywords manually</label>
						    </div>
						    <div class="col-sm-10" id="addOwnWordsSegments"></div>
						</div>
					</div>
			</div>
		</div>	
		<form name="clusterForm" role="form" action="/createClusters" onsubmit="return validateClusterForm();">	
			<input type="hidden" name="keywordsToCluster" id="keywordsToCluster" value="" />
			<input type="hidden" name="keywordsForSegments" id="keywordsForSegments" value="" />
			<input type="hidden" name="enrichKeywords" id="enrichKeywords" value="" />
			<input type="hidden" name="task" id="task" value="{{task}}">
			<input type="hidden" name="numOfEnrichments" id="numOfEnrichments" value="no enrichments"/>
			<div class="bottom col-sm-12"><button type='submit' class='btn btn-success' id="floatyButton">Cluster</button></div>				
		</form>	
		<input type="hidden" name="keywordInputName" id="keywordInputName" value=""/>
	</div>
	{% include "parts/modals/clusterSpecModal.html" %}
	</div>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src = "/static/js/scripts.js"></script>	
	</body>
</html>			