<!DOCTYPE html>
<html>

	<head>
		{% include "parts/headContent.html" %}
		<title>FoObs Home</title>
	</head>

	<body>
		{% include "parts/menuIndexPage.html" %} 

		<div class="container" id="mainContainer"> 
			<div id="whitie">
			<div class="col-sm-8"> <h2>Select a data source and search</h2></div>
			<div class="col-md-12">
			     <input type="hidden" name="notDbName" id="notDbName" value="">
				
			     <form name="dbSelect">
			    <div class="funkyradio col-md-6">
			    	<div class="searchDefinition" id="searchType">
			    		
			    		
				    	<div class="col-sm-8"><h3>Select data source</h3></div>
				    	<div class="col-sm-8" id="searchTypes"></div>
				    	{% for db in listOfDatabases %}
				        <div class="funkyradio-success">
				            <input type="radio" name="inputTypes" id="{{db[1]}}" value="{{db[0]}}" onclick="setDb('{{db[0]}}','{{db[2]}}')" />
				            <label for="{{db[1]}}">{{db[0]}}</label>
				        </div>
				        {% endfor %}
				    </div>
				</div>
				</form>
				<form name="searchSpecs" id="searchSpecs" method="post" action="/" onsubmit="return validateForm()">
				<input type="hidden" name="dbName" id="dbName" value="">
				<div id="locationSpot" class="col-md-6"><h4>Areas covered by the search</h4></div>
				<div class="col-md-6" id="map"></div>
				<div class="col-md-12">					  
				     <h3>Analysis</h3> 
				     <div id="searchDefs"></div>
				     <div class="searchDefinition col-md-6" id="searchNote">
				     <div class=" funkyradio col-md-12">
				     	<div class="accordion" id="accordion">
							<input type="hidden" name="start" id="start" value="">
							<input type="hidden" name="endof" id="endof" value="">
							<input type="hidden" name="task" id="task" value="">
							<div class="panel">
								<div class="panel-heading">
								        <h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#filterKeywords" onclick="specifyTaskDataToBeShown('filter'); changeFormAction('filterKeywords')">Data Explorer</a>
								        </h4>
								 </div>
								 <div id="filterKeywords" class="collapse">
								 	<div class="panel-body">
							            <h4>Choose a search</h4>
							            {% for key, values in searchNotesDic.items() %}
							            <div id="{{key}}" class="setVisibility">
							            	{% for v in values %}
							                <div class="funkyradio-success">
											    <input type="radio" name="searchnoteID" id="{{v[3]}}" value="{{v[0]}}" onclick="displaySearchData('{{v[0]}}','{{v[5]}}','{{v[6]}}','{{v[7]}}', '{{v[8]}}', '{{v[9]}}','{{v[10]}}','{{v[11]}}','{{v[12]}}'); setLocalStorage('{{v[7]}}');changeFormAction('filterKeywords')"/>
											    <input type="hidden" name="keywords" value="{{v[7]}}">
											    <label for="{{v[3]}}">{{v[0]}}</label>
											</div>
											{% endfor %}
							            </div>
							            {% endfor %}
							        </div>        
								 </div>
					    </div>
					    <div class="panel">
								<div class="panel-heading">
								        <h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#selectCollection" onclick="specifyTaskDataToBeShown('scat'); changeFormAction('selectCollection')">Select collections for scatter text analysis</a>
								        </h4>
								 </div>
								 <div id="selectCollection" class="collapse">
								 	<div class="panel-body">
								 	<h4>Choose two collections</h4>
								 	<div id="collectionError"></div>
								 	{% for key, values in listOfAllCollections.items() %}
							            <div id="{{key}}" class="setVisibility">
							            	{% for v in values %}
							                <div class="funkyradio-success">
								                <input type="checkbox" name="collectionRow" class="checkthis" id="{{v[2]}}" value="{{v[2]}}" onclick="changeFormAction('selectCollection')" />
								                
												    <label for="{{v[2]}}">{{v[3]}} : {{v[8]}} tweets</label>
							                </div>
							                {% endfor %}
								 		</div>
								 	{% endfor %}
								 	<input type="hidden" name="twoCollectionId" id="twoCollectionId" value="">	
								 </div>
						</div>		 	
				    </div>
 					<div class="panel">
 						<div class="panel-heading">
 							<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#clusteringOptions" onclick="closeAccordions()">Cluster</a></h4>
 						</div>
 						<div class="collapse" id="clusteringOptions">
 							<div class="panel-body">
 								<h4>Choose a clustering option</h4>
 								<div class="accordion" id="accordionClusters">
	                                <div class="panel">
	                                	<div class="panel-heading">
	                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionClusters" href="#listCollections" onclick="specifyTaskDataToBeShown('clusterACollection');
	                                    changeFormAction('clusterACollection')">Select from existing collections</a></h4></div>
	                                    <div id="listCollections" class="collapse">
	                                    <div id="clusterCollectionError"></div>
	                                        {% for key, values in listOfAllCollections.items() %}
									            <div id="{{values[0][7]}}" class="setVisibility">
									            	{% for v in values %}
										                <div class="funkyradio-success">
											                <input type="radio" name="collectionId" id="{{v[0]}}" value="{{v[2]}}" onclick="changeFormAction('clusterACollection')" />
															   <label for="{{v[0]}}">{{v[3]}} : {{v[8]}} tweets</label>
										                </div>
							                		{% endfor %}
										 		</div>
										 	{% endfor %}	
	                                    </div>
	                                </div>
	                                <div class="panel">
	                                <div class="panel-heading">
	                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionClusters" href="#selectedDataSource" onclick="changeFormAction('clusterDataset');specifyTaskDataToBeShown('clusterDataset')">Cluster from data source
	                                    </a></h4></div>
	                                    <div id="selectedDataSource" class="collapse">
	                                        <div class="panel-body">
	                                        	{% for key, values in searchNotesDic.items() %}
									            <div id="{{values[0][15]}}" class="setVisibility">
									            	{% for v in values %}
									                <div class="funkyradio-success">
													    <input type="radio" name="searchnoteIDForCluster" id="{{v[14]}}" value="{{v[0]}}" onclick="displaySearchData('{{v[0]}}','{{v[5]}}','{{v[6]}}','{{v[7]}}', '{{v[8]}}', '{{v[9]}}','{{v[10]}}','{{v[11]}}','{{v[12]}}'); setLocalStorage('{{v[7]}}');setKeywordsCluster('{{v[7]}}');changeFormAction('clusterDataset')" />
													    
													    <label for="{{v[14]}}">{{v[0]}}</label>
													</div>
													{% endfor %}
													<input type="hidden" name="keywordsCluster" id="keywordsCluster"  value="">	
									            </div>
							            		{% endfor %}	
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
 							</div>
 						</div>
 						
 					</div> 
			    </div>
			    </div></div>
			    <div id="searchData" class="col-md-6"></div>
			    <div id="borderDiv" class="col-md-12"></div>
			    <div class="col-sm-8"><button type="submit" class="btn btn-success">Submit</button></div>
			    
			    </form>
			</div>
				
			</div>
	</div>	
	<script src = "/static/js/bootstrap.min.js"></script>
    <script src = "/static/js/scripts.js"></script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiDjEvKnfBfWVueTpAkF1jjLWQCy-LSSw&callback=initMap">
    </script>


	</body>

</html>	

